/* globals.css */
body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: white;
}

main {
  padding: 3rem 2rem;
}

h1, h2, h3 {
  font-weight: bold;
  text-align: left;
}

p {
  text-align: justify;
  /*border-left: 1px solid #ccc;*/
  /*border-right: 1px solid #ccc;*/
  padding-left: 1rem;
  padding-right: 1rem;
}

a {
  font-style: italic;
}

figure {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

figure img, figure video {
  max-width: 40%;
  border: 1px solid black;
}

figcaption {
  font-size: 0.8rem;
  text-align: left;
  margin-top: 0.3rem;
  margin-left: auto;
  margin-right: auto;
}

.blog-links-box {
  padding: 1rem;
  background-color: #f9f9f9;
  border-radius: 10px;
  width: 800px;
  height: 300px;
  overflow-y: auto;
  margin: 2rem auto;
}

.blog-links-box ul {
  padding-left: 1.2rem; /* smaller left indent */
  list-style-position: inside; /* bullets inside the box */
  text-align: left; /* <-- left-align the text */
}

.blog-links-box li {
  margin-left: 0.3rem; /* move text closer to bullet */
  margin-bottom: 0.8rem; /* spacing between links */
}

.blog-links-box a {
  text-decoration: none;
  font-style: italic;
  color: purple;
}

.blog-links-box a:hover {
  text-decoration: underline;
}
